# VARIABLE=value #comment
PUID=0
PGID=0

HOMEPAGE_ALLOWED_HOSTS=*

# BASE URLS
MEDIA_BASE_URL_SSL=https://192.168.50.19
MEDIA_BASE_URL=http://192.168.50.19
BOTS_BASE_URL=https://192.168.50.25
BOTS_URL=http://192.168.50.25
OFFICE_BASE_URL=http://192.168.50.24
BACKUP_BASE_URL=http://192.168.50.33
AI_BASE_URL_SSL=https://192.168.50.43
AI_BASE_URL=http://192.168.50.43
WEB_BASE_URL_SSL=https://192.168.50.18
WEB_BASE_URL=http://192.168.50.18
AUTHENTIK_BASE_URL=http://192.168.50.35
VAULTWARDEN_BASE_URL=http://192.168.50.41

HOMEPAGE_VAR_WIREDUGARD_URL=http://192.168.50.48:10086

HOMEPAGE_VAR_COOLIFY_URL=${WEB_BASE_URL}:8000

HOMEPAGE_VAR_CHANGEDETECTION_URL=${BOTS_URL}:5000
HOMEPAGE_VAR_CHANGEDETECTION_API_KEY=

HOMEPAGE_VAR_VAULTWARDEN_URL=${VAULTWARDEN_BASE_URL}:8000

HOMEPAGE_VAR_CLOUDFLARED_URL=http://192.168.50.39
HOMEPAGE_VAR_CLOUDFLARED_ACCOUNT_ID=
HOMEPAGE_VAR_CLOUDFLARED_TUNNEL_ID=
HOMEPAGE_VAR_CLOUDFLARED_API_KEY=

HOMEPAGE_VAR_AUTHENTIK_URL=${AUTHENTIK_BASE_URL}:9000
HOMEPAGE_VAR_AUTHENTIK_API_KEY=

HOMEPAGE_VAR_PORTAINER_WEB_URL=${WEB_BASE_URL_SSL}:9443
HOMEPAGE_VAR_PORTAINER_WEB_API_KEY=

# NIGHTHAWK ROUTER
HOMEPAGE_VAR_ROUTER_URL=http://192.168.50.1

# PROXMOX
HOMEPAGE_VAR_PROXMOX_URL=https://192.168.50.2:8006
HOMEPAGE_VAR_PROXMOX_API_USER=
HOMEPAGE_VAR_PROXMOX_API_PASS=

# PROXMOX NETDATA
HOMEPAGE_VAR_NETDATA_URL=http://192.168.50.2:19999

# PROXMOX BACKUP SERVER
HOMEPAGE_VAR_PROXMOX_BACKUP_URL=https://192.168.50.227:8007
HOMEPAGE_VAR_PROXMOX_BACKUP_ID=
HOMEPAGE_VAR_PROXMOX_BACKUP_SECRET=

# PIHOLE
HOMEPAGE_VAR_PIHOLE_URL=http://192.168.50.3:8080
HOMEPAGE_VAR_PIHOLE_API_KEY=

# FILE MANAGEMENT
HOMEPAGE_VAR_NEXTCLOUD_URL=https://192.168.50.20
HOMEPAGE_VAR_NEXTCLOUD_USER=
HOMEPAGE_VAR_NEXTCLOUD_PASS=

# TRAEFIK
HOMEPAGE_VAR_TRAEFIK_URL=http://192.168.50.29:8080

# DOCKGE / OFFICE
# NOCODB
HOMEPAGE_VAR_NOCODB_URL=${OFFICE_BASE_URL}:8080

# PAPERLESS-NGX
HOMEPAGE_VAR_DOCKGE_OFFICE_URL=${OFFICE_BASE_URL}:5001
HOMEPAGE_VAR_PAPERLESS_NGX_URL=${OFFICE_BASE_URL}:8010
HOMEPAGE_VAR_PAPERLESS_NGX_API_KEY=

# STIRLING-PDF
HOMEPAGE_VAR_STIRLING_PDF_URL=${OFFICE_BASE_URL}:7070

# INVOICE-NINJA
HOMEPAGE_VAR_INVOICE_NINJA_URL=${OFFICE_BASE_URL}

# DOCUSEAL
HOMEPAGE_VAR_DOCUSEAL_URL=${OFFICE_BASE_URL}:3001

# PORTAINER / BOTS
HOMEPAGE_VAR_PORTAINER_BOTS_URL=${BOTS_BASE_URL}:9443
HOMEPAGE_VAR_PORTAINER_BOTS_API_KEY=

# DOCKGE / HOMEPAGE
DOCKGE_HOMEPAGE_URL=http://192.168.50.114
HOMEPAGE_VAR_DOCKGE_HOMEPAGE_URL=${DOCKGE_HOMEPAGE_URL}:5001

# VSCODE SERVER/ BOTS
HOMEPAGE_VAR_CODE_SERVER_URL=${BOTS_BASE_URL}:8443

# WHATS UP DOCKER/ MEDIA
HOMEPAGE_VAR_MEDIA_WHATSUPDOCKER_URL=${MEDIA_BASE_URL}:3000

# WATCHTOWER / MEDIA
HOMEPAGE_VAR_MEDIA_WATCHTOWER_URL=${MEDIA_BASE_URL}:8333
HOMEPAGE_VAR_MEDIA_WATCHTOWER_API_KEY=

# JELLYFIN/MEDIA
HOMEPAGE_VAR_JELLYFIN_URL=http://192.168.50.6:8096
HOMEPAGE_VAR_JELLYFIN_API_KEY=

# ARR/MEDIA
HOMEPAGE_VAR_PORTAINER_MEDIA_URL=${MEDIA_BASE_URL_SSL}:9443
HOMEPAGE_VAR_PORTAINER_MEDIA_API_KEY=

HOMEPAGE_VAR_HOARDER_URL=${MEDIA_BASE_URL}:3001
HOMEPAGE_VAR_HOARDER_API_KEY=

HOMEPAGE_VAR_QBITTORRENT_URL=${MEDIA_BASE_URL}:8080
HOMEPAGE_VAR_QBITTORRENT_USER=
HOMEPAGE_VAR_QBITTORRENT_PASS=

HOMEPAGE_VAR_IMMICH_URL=${MEDIA_BASE_URL}:2283
HOMEPAGE_VAR_IMMICH_API_KEY=

HOMEPAGE_VAR_UNMANIC_URL=${MEDIA_BASE_URL}:8888

HOMEPAGE_VAR_JELLYSEERR_URL=${MEDIA_BASE_URL}:5055
HOMEPAGE_VAR_JELLYSEERR_API_KEY=
HOMEPAGE_VAR_PROWLARR_URL=${MEDIA_BASE_URL}:9696
HOMEPAGE_VAR_PROWLARR_API_KEY=
HOMEPAGE_VAR_RADARR_URL=${MEDIA_BASE_URL}:7878
HOMEPAGE_VAR_RADARR_API_KEY=
HOMEPAGE_VAR_SONARR_URL=${MEDIA_BASE_URL}:8989
HOMEPAGE_VAR_SONARR_API_KEY=
HOMEPAGE_VAR_READARR_URL=${MEDIA_BASE_URL}:8787
HOMEPAGE_VAR_READARR_API_KEY=
HOMEPAGE_VAR_LIDARR_URL=${MEDIA_BASE_URL}:8686
HOMEPAGE_VAR_LIDARR_API_KEY=

HOMEPAGE_VAR_SABNZBD_URL=${MEDIA_BASE_URL}:8088
HOMEPAGE_VAR_SABNZBD_API_KEY=

# TRILLIUM
HOMEPAGE_VAR_TRILLIUM_URL=${MEDIA_BASE_URL}:8585

# AUDIOBOOKSHELF
HOMEPAGE_VAR_AUDIOBOOKSHELF_URL=${MEDIA_BASE_URL}:13378
HOMEPAGE_VAR_AUDIOBOOKSHELF_API_KEY=

# NAVIDROME
HOMEPAGE_VAR_NAVIDROME_URL=${MEDIA_BASE_URL}:4533
HOMEPAGE_VAR_NAVIDROME_SALT=
HOMEPAGE_VAR_NAVIDROME_TOKEN=

# CALIBRE/BOOK
HOMEPAGE_VAR_CALIBRE_URL=${MEDIA_BASE_URL}:8082
HOMEPAGE_VAR_CALIBRE_WEB_URL=${MEDIA_BASE_URL}:8083
HOMEPAGE_VAR_CALIBRE_WEB_USER=
HOMEPAGE_VAR_CALIBRE_WEB_PASS=

HOMEPAGE_VAR_KAVITA_URL=${MEDIA_BASE_URL}:5000
HOMEPAGE_VAR_KAVITA_USER=
HOMEPAGE_VAR_KAVITA_PASS=

# TRUENAS
HOMEPAGE_VAR_TRUENAS_URL=http://192.168.50.7
HOMEPAGE_VAR_TRUENAS_API_KEY=

# MONITORING
HOMEPAGE_VAR_UPTIME_KUMA_URL=http://192.168.50.17:3001
HOMEPAGE_VAR_SPEEDTEST_URL=${MEDIA_BASE_URL}:8765
HOMEPAGE_VAR_BESZEL_URL=${MEDIA_BASE_URL}:8090
HOMEPAGE_VAR_BESZEL_USER=
HOMEPAGE_VAR_BESZEL_PASS=

# NETWORK
HOMEPAGE_VAR_NGINX_URL=http://192.168.50.38:81
HOMEPAGE_VAR_NGINX_USER=
HOMEPAGE_VAR_NGINX_PASS=

# FRIGATE/ NVR
HOMEPAGE_VAR_FRIGATE_URL=http://192.168.50.23:5000

# TOR
HOMEPAGE_VAR_TOR_URL=${MEDIA_BASE_URL}:5800

# HOAS
HOMEPAGE_VAR_HAOS_URL=http://192.168.50.105:8123
HOMEPAGE_VAR_HAOS_API_KEY=

# AI STACK
HOMEPAGE_VAR_PORTAINER_AI_URL=${AI_BASE_URL_SSL}:9443
HOMEPAGE_VAR_PORTAINER_AI_API_KEY=
HOMEPAGE_VAR_OLLAMA_WEB_UI_URL=${AI_BASE_URL}:8080
HOMEPAGE_VAR_STABLE_DIFFUSION_UI_URL=${AI_BASE_URL}:7860
HOMEPAGE_VAR_FLOWISE_URL=${AI_BASE_URL}:5023
HOMEPAGE_VAR_N8N_UI_URL=${AI_BASE_URL}:5678

#PI-BACKUP
HOMEPAGE_VAR_PIHOLE_BACKUP_URL=${BACKUP_BASE_URL}
HOMEPAGE_VAR_PIHOLE_BACKUP_API_KEY=
HOMEPAGE_VAR_PI_PORTAINER_URL=${BACKUP_BASE_URL}:9000
HOMEPAGE_VAR_PI_PORTAINER_API_KEY=